
<div class="text-center">
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-default" (click)="selectFirst()"><fa name="eraser"></fa></button>
    <button type="button" class="btn btn-default" (click)="selectAll()"><fa name="check-square"></fa></button>
    <button type="button" class="btn btn-default" (click)="addRangeModal.show()"><fa name="arrows-h"></fa></button>
    <button type="button" class="btn btn-default" (click)="addPeriodModal.show()"><fa name="hourglass"></fa></button>
    <button type="button" class="btn btn-default" (click)="addPeriodRangeModal.show()"><fa name="hourglass-half"></fa></button>
  </div>
</div>
<hr />

<div class="btn-sm">
  <div *ngFor="let toto of values" style="margin: 2px; float: left">
                    <span [ngClass]="'btn btn-sm ' + (toto.isEnabled ? 'btn-info' : 'btn-light')"
                          style="font-family: monospace" (click)="selectOne(toto.value)">
                        {{ toto.displayedValue }}
                    </span>
  </div>
  <br style="clear: both" />
</div>




<div class="modal fade" bsModal #addValueModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Add specific value</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addValueModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <fieldset>
            <div class="form-group">
              <label for="tmp_add_value">Value</label>
              <input class="form-control" id="tmp_add_value" name="tmp_add_value" aria-describedby="tmp_add_value_help" placeholder="Enter value"
                     [(ngModel)]="tmp_add_value" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_value_help" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
          </fieldset>
        </form>

        <button type="button" class="btn btn-primary" (click)="addValue(); addValueModal.hide();">Add value</button>
        <button type="button" class="btn btn-default" (click)="addValueModal.hide()">Cancel</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #addRangeModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name2" class="modal-title pull-left">Add range</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addRangeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <fieldset>
            <div class="form-group">
              <label for="tmp_add_value">Start</label>
              <input class="form-control" id="tmp_add_range_start" name="tmp_add_range_start" aria-describedby="tmp_add_range_start_help" placeholder="Enter value"
                     [(ngModel)]="tmp_add_range_start" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_range_start_help" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
            <div class="form-group">
              <label for="tmp_add_value">End</label>
              <input class="form-control" id="tmp_add_range_end" name="tmp_add_range_end" aria-describedby="tmp_add_range_end_help" placeholder="Enter value"
                     [(ngModel)]="tmp_add_range_end" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_range_end_help" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
          </fieldset>
        </form>

        <button type="button" class="btn btn-primary" (click)="addRange(); addRangeModal.hide();">Add value</button>
        <button type="button" class="btn btn-default" (click)="addRangeModal.hide()">Cancel</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #addPeriodModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name3">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name3" class="modal-title pull-left">Add a period</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addPeriodModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <fieldset>
            <div class="form-group">
              <label for="tmp_add_value">Value</label>
              <input class="form-control" id="tmp_add_period" name="tmp_add_period" aria-describedby="tmp_add_period_help" placeholder="Enter value"
                     [(ngModel)]="tmp_add_period" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_period_help" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
          </fieldset>
        </form>

        <button type="button" class="btn btn-primary" (click)="addPeriod(); addPeriodModal.hide();">Add value</button>
        <button type="button" class="btn btn-default" (click)="addPeriodModal.hide()">Cancel</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #addPeriodRangeModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="dialog-nested-name4">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name4" class="modal-title pull-left">Add a period in a range</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addPeriodRangeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <fieldset>
            <div class="form-group">
              <label for="tmp_add_value">Value</label>
              <input class="form-control" id="tmp_add_period2" name="tmp_add_period2" aria-describedby="tmp_add_period_help2" placeholder="Enter value"
                     [(ngModel)]="tmp_add_period" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_period_help2" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>

            <div class="form-group">
              <label for="tmp_add_value">Start</label>
              <input class="form-control" id="tmp_add_range_start2" name="tmp_add_range_start2" aria-describedby="tmp_add_range_start_help2" placeholder="Enter value"
                     [(ngModel)]="tmp_add_range_start" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_range_start_help2" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
            <div class="form-group">
              <label for="tmp_add_value">End</label>
              <input class="form-control" id="tmp_add_range_end2" name="tmp_add_range_end2" aria-describedby="tmp_add_range_end_help2" placeholder="Enter value"
                     [(ngModel)]="tmp_add_range_end" [min]="valueMin" [max]="valueMax" type="number">
              <small id="tmp_add_range_end_help2" class="form-text text-muted">Enter value between {{ valueMin }} and {{ valueMax }}</small>
            </div>
          </fieldset>
        </form>

        <button type="button" class="btn btn-primary" (click)="addPeriodRange(); addPeriodRangeModal.hide();">Add value</button>
        <button type="button" class="btn btn-default" (click)="addPeriodRangeModal.hide()">Cancel</button>

      </div>
    </div>
  </div>
</div>
