<div class="card">
  <div class="card-body">
    <h5 class="card-title">Basic</h5>

    <div class="form-group">
      <label for="crontab_cmd_val">Command</label>
      <input id="crontab_cmd_val" type="text" class="form-control" placeholder="echo HelloWorld"
             aria-describedby="crontab_cmd" [(ngModel)]="crontab_cmd" (change)="updateValue()">
      <small id="crontab_cmd_help" class="form-text text-muted">The command you want to cron</small>
    </div>

    <div class="btn-group">
      <label [btnRadio]="true" class="btn btn-primary" [(ngModel)]="crontab_log.isEnabled" (click)="updateValue()" tabindex="0" role="button">Save
        logs</label>
      <label [btnRadio]="false" class="btn btn-primary" [(ngModel)]="crontab_log.isEnabled"  (click)="updateValue()" tabindex="0" role="button">Do not save
        logs</label>
    </div>

    <br/>
    <div class="btn-group" *ngIf="crontab_log.isEnabled">
      <label [btnRadio]="true" class="btn btn-primary" [(ngModel)]="crontab_log.isToAppend"  (click)="updateValue()" tabindex="0"
                               role="button">Append</label>
      <label [btnRadio]="false" class="btn btn-primary" [(ngModel)]="crontab_log.isToAppend" (click)="updateValue()" tabindex="0"
                                role="button">Overwrite</label>
    </div>

    <div class="form-group" *ngIf="crontab_log.isEnabled">
      <label for="log_path">Log file</label>
      <input id="log_path" type="text" [(ngModel)]="crontab_log.logFile"  (change)="updateValue()" class="form-control"
             placeholder="/var/log/crontab/command.log" aria-describedby="crontab_log">
      <small id="log_path_help" class="form-text text-muted">File where the output of the command will be redirected
      </small>
    </div>

  </div>
</div>
