<app-command-selector (onCommandUpdate)="updateCommand($event)"></app-command-selector>


<div class="card-group">
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Minutes</div>
        <div class="card-body">

            <app-period-selector #periodSelectorMinutes
                 [min]="0" [max]="59" (onRuleUpdate)="updateRule('minutes', $event)"></app-period-selector>

        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Hours</div>
        <div class="card-body">

            <app-period-selector #periodSelectorHours [min]="0" [max]="23"
                                 (onRuleUpdate)="updateRule('hours', $event)"></app-period-selector>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Days of Month</div>
        <div class="card-body">

            <app-period-selector #periodSelectorDayOfMonth [min]="1" [max]="31"
                                 (onRuleUpdate)="updateRule('monthdays', $event)"></app-period-selector>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Months</div>
        <div class="card-body">

            <app-period-selector #periodSelectorMonth [min]="1" [max]="12"
                                 (onRuleUpdate)="updateRule('months', $event)"></app-period-selector>
        </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Days of week</div>
        <div class="card-body">

            <app-period-selector #periodSelectorDayOfWeek [min]="0" [max]="6"
                                 (onRuleUpdate)="updateRule('weekdays', $event)"></app-period-selector>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Crontab command</h5>

        <div class="form-group">
            <input disabled id="crontab_result" type="text" [(ngModel)]="crontab_result" class="form-control"
                   placeholder="* * * * * command" style="font-family: monospace">
        </div>

    </div>
</div>
